{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>zSeeds - Free Html5 Templates</title>
	<meta name="description" content="Free Responsive Html5 Css3 Templates | zerotheme.com">
	<meta name="author" content="www.zerotheme.com">

    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
	<!-- Definity CSS -->



  <link href="{% static 'css/zerogrid.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/style.css' %}" rel="stylesheet" media="all" type="text/css">
	<link href="{% static 'css/menu.css' %}" rel="stylesheet" media="all" type="text/css">
	<!-- Lightbox -->
	<!-- <link href="css/lightbox.css" rel="stylesheet" media="all" type="text/css"> -->
	<!-- Video Background -->
	<link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" rel="stylesheet" media="all" type="text/css">
	<!-- Animate.css -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet" media="all" type="text/css">

	<!-- Custom Fonts -->
	<link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Owl Carousel Assets -->
  <link href="{% static 'plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

	<!-- JS -->



	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<script src="js/css3-mediaqueries.js"></script>
	<![endif]-->
  <link href="https://vjs.zencdn.net/7.6.0/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
	{% block head %}
	{% endblock %}
</head>
<body id="page-top">
<div class="wrap-body">

	<!--////////////////////////////////////Header-->
	<header>
		<div class="wrap-header" >

			<!---Main Header--->
			<div class="main-header">
				{% block main-header %}
				{% endblock %}
			</div>

			<!---Top Menu--->
			<div id="cssmenu" >
				{% include 'base/page-nav.html' %}
			</div>

		</div>
	</header>



	<!--////////////////////////////////////Container-->
	<section id="page-content" class="index-page">


		{% block page-content %}
		{% endblock %}

	
	</section>

	<!--////////////////////////////////////Footer-->
	<footer id="page-footer">
		<div class="wrap-footer">
			<div class="zerogrid">
				<div class="row">
					{% include 'base/page-footer.html' %}
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="copyright">
				<div class="zerogrid">
					<div class="row">
						{% include 'base/page-footer-bottom.html' %}
					</div>
				</div>
			</div>
		</div>
	</footer>


	<!-- ========== Scripts ========== -->
	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<!-- <script src="{% static 'include_by_ajax/js/include_by_ajax.min.js' %}" defer></script> -->

	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
	<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
	<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
	<script src="{% static 'js/SmoothScroll.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>

	<!-- Owl Carousel JS -->
	<script src="{% static 'plugins/owl-carousel/owl.carousel.js' %}"></script>

	<!-- Google Map -->
	<!-- <script src="{% static 'js/google-map.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script> -->


	<!-- Definity JS -->
	<script src="{% static 'js/main.js' %}"></script>
	<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>
	<script src='{% static 'js/custom.js' %}'></script>

	{% block scripts %}
	{% endblock %}
</div>
</body></html>
