<div class="sm-2-4 col-footer-1">
  <div class="wrap-col">
    <h3 class="widget-title">About</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <ul class="quicklinks">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms of Use</a></li>
    </ul>
  </div>
</div>
<div class="sm-1-4 col-footer-2">
  <div class="wrap-col">
    <h3 class="widget-title">Contact Us</h3>
    <p>Call us:</p>
    <strong style="font-size: 25px;">0123-456-789</strong>
    <p>Address:</p>
    <strong>123, New Lenox Chicago, IL 60606</strong>
    <p>Email:</p>
    <strong>info@yoursite.com</strong>
  </div>
</div>
<div class="sm-1-4 col-footer-3">
  <div class="wrap-col">
    <h3 class="widget-title">Socials</h3>
    <ul class="social-buttons">
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="https://www.facebook.com/ZerothemeDotCom/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
    </ul>
  </div>
</div>
