{% load staticfiles %}
<video id="player" class="video-js vjs-fluid vjs-16-9"
        data-play-limit="5"
        controls
        autoplay >

    <source src="{% static 'images/video-background.mp4' type='video/mp4'%}" >

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
<script type="text/javascript">
  $("#player").play();
</script>>
  
</video>
