<ul>
   <li id="nav-home"><a href="{% url 'home' %}"><span>Home</span></a></li>
<!-- 				   <li class="has-sub"><a href="#"><span>Category</span></a>
    <ul>
     <li class="has-sub"><a href="#"><span>Item 1</span></a>
      <ul>
         <li><a href="#"><span>Sub Item</span></a></li>
         <li class="last"><a href="#"><span>Sub Item</span></a></li>
      </ul>
     </li>
     <li class="has-sub"><a href="#"><span>Item 2</span></a>
      <ul>
         <li><a href="#"><span>Sub Item</span></a></li>
         <li class="last"><a href="#"><span>Sub Item</span></a></li>
      </ul>
     </li>
    </ul>
   </li> -->
   <li><a href="#about-us"><span>About us</span></a></li>
   <li><a href="#services"><span>Services</span></a></li>
   <li><a href="#careers"><span>Careers</span></a></li>
   <li id="nav-contact"><a href="{% url 'contact' %}"><span>Contact</span></a></li>
</ul>
