<div class="sm-1-2">
  Copyright @ - <a href="https://www.zerotheme.com/free-website-templates" rel='nofollow'>Website Templates</a> by <a href='https://www.zerotheme.com'>Zerotheme</a>
</div>
<div class="sm-1-2">
  <div id="page-top"><a href="#page-top" class="button button-toTop f-right"><i class="fa fa-angle-double-up"></i></a></div>
</div>
