{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
  <title>Stunner YPP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="{% static 'images/sypp-icon.png' %}" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

  <link href="{% static 'css/open-iconic-bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate.css' %}" rel="stylesheet">

  <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

  <link href="{% static 'css/aos.css' %}" rel="stylesheet">

  <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet">

  <link href="{% static 'css/bootstrap-datepicker.css' %}" rel="stylesheet">
  <link href="{% static 'css/jquery.timepicker.css' %}" rel="stylesheet">

  <link href="{% static 'css/flaticon.css' %}" rel="stylesheet">
  <link href="{% static 'css/icomoon.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/services.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom/map.css' %}" rel="stylesheet">

  <link href="{% static 'css/custom-style.css' %}" rel="stylesheet">

	{% block head %}
	{% endblock %}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
 		{% include 'app/base/page-nav.html' %}
    </nav>

	{% block page-content %}
	{% endblock %}

    <footer class="ftco-footer ftco-section img">
     	{% include 'app/base/page-footer.html' %}
    </footer>

	<!-- ========== Scripts ========== -->

  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.animateNumber.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'js/jquery.timepicker.min.js' %}"></script>
  <script src="{% static 'js/scrollax.min.js' %}"></script>

	<!-- Scrollmagic -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.3/velocity.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/2.0.3/velocity.ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.velocity.min.js"></script>

	<!-- <script src="{% static 'plugins/jquery-drawsvg/src/jquery.drawsvg.js' %}"></script> -->
	<script src='https://vjs.zencdn.net/7.6.0/video.js'></script>

  <!-- Plugin JS -->
  <script src="{% static 'js/custom/animate-image.js' %}"></script>
  <!-- <script src="{% static 'js/custom/preload.js' %}"></script> -->
  <script src="{% static 'js/custom/dweller.js' %}"></script>
  <script src="{% static 'js/custom/map.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<script src='{% static "js/custom.js" %}'></script>
	<script type="text/javascript">
		window.onbeforeunload = function () {
		  window.scrollTo(0, 0);
		}
	</script>
	{% block scripts %}
	{% endblock %}
</div>
</body></html>
