 <div id="preloader-circle">
   <svg class="circular" width="48px" height="48px">
     <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
     <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#8b0000"/>
   </svg>
 </div>
 <div class="divtwo hidden" id="stunner-intro-text">
   <div id="intro-text-wrap">
     <div id="upperWrap">
       <div id="upper">Stunner<span>YPP</span></div> 
     </div>
     <div id="line"></div>
     <div id="lowerWrap">
       <div id="lower">Smart Solutions at your Fingertips.</div> 
     </div>
   </div>
   <div id="wrapper">
     <div id="demo">
       <div id="logoSection" class="abs">
         <div id="logo" x="512" y="355" class="abs"></div>
         <div id="logoText1" x="526" y="273" class="abs"></div>
         <div id="logoText2" x="462" y="310" class="abs"></div>
       </div>
       <div id="elements" class="abs">
         <img src='static/images/technologies/git.svg' x='508' y='442'>
         <img src='static/images/technologies/gitlab.svg' x='408' y='410'>
         <img src='static/images/technologies/css.svg' x='377' y='341'>
         <img src='static/images/technologies/html.svg' x='446' y='267'>
         <img src='static/images/technologies/jquery.svg' x='551' y='217'>
         <img src='static/images/technologies/javascript.svg' x='646' y='272'>
         <img src='static/images/technologies/laravel.svg' x='706' y='336'>
         <img src='static/images/technologies/php.svg' x='671' y='441'>
         <img src='static/images/technologies/wordpress.svg' x='539' y='539'>
         <img src='static/images/technologies/python.svg' x='361' y='542'>
         <img src='static/images/technologies/sass.svg' x='131' y='428'>
         <img src='static/images/technologies/vagrant.svg' x='90' y='253'>
         <img src='static/images/technologies/wordpress.svg' x='256' y='69'>

<!--          
         <img src='static/images/sypp-icon.png' x='508' y='442'>
         <img src='static/images/sypp-icon.png' x='408' y='410'>
         <img src='static/images/sypp-icon.png' x='377' y='341'>
         <img src='static/images/sypp-icon.png' x='446' y='267'>
         <img src='static/images/sypp-icon.png' x='551' y='217'>
         <img src='static/images/sypp-icon.png' x='646' y='272'>
         <img src='static/images/sypp-icon.png' x='706' y='336'>
         <img src='static/images/sypp-icon.png' x='671' y='441'>
         <img src='static/images/sypp-icon.png' x='539' y='539'>
         <img src='static/images/sypp-icon.png' x='361' y='542'>
         <img src='static/images/sypp-icon.png' x='131' y='428'>
         <img src='static/images/sypp-icon.png' x='90' y='253'>
         <img src='static/images/sypp-icon.png' x='256' y='69'> -->

       </div>
       <div class="abs">
         <img id="whiteLogo" class="abs" src='static/images/technologies/illustrator.svg'>
         <img id="planeGroup" class="abs" src='static/images/technologies/photoshop.svg'>
         <img id="planeSolo" class="abs" src='static/images/technologies/bootstrap.svg'>
       </div>
       <div class="abs">
         <div id="particles" class="abs">
         </div>
       </div>
     </div>
   </div>
 </div> 