<div class="one-half img" style="background-image: url(static/images/about.jpg);"></div>
<div class="one-half ftco-animate">
	<div class="overlap">
    <div class="heading-section ftco-animate ">
    <span>DISCOVER</span>
      <h2 class="mb-4">Our Story</h2>
    </div>
    <div>
    <p>StunnerYPP Corporation is a company of enthusiastic, passionate, competitive, quality-driven and results-oriented team of web developers, graphic designers, marketing strategist, quality assurance specialist, and general admin staff  who are happy to serve clients and see them enjoy long-lasting growth and accomplishment.</p>
    <p><a href="about.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
			</div>
		</div>
</div>