{% load staticfiles %}
<div class="container">
  <a href="/"><img id="sypp_logo" src="{% static 'images/sypp_red.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="oi oi-menu"></span> Menu
  </button>
  <div class="collapse navbar-collapse" id="ftco-nav">
     <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="about" class="nav-link">Who we are</a></li>
        <li class="nav-item"><a href="sustainability" class="nav-link">Sustainability</a></li>
        <li class="nav-item"><a href="solutions" class="nav-link">Solutions</a></li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="careers" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Work with Us</a>
           <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="life-at-stunner">Life at StunnerTPP</a>
              <a class="dropdown-item" href="careers">Opportunities</a>
           </div>
        </li>
        <li class="nav-item"><a href="contact" class="nav-link">Contact</a></li>
     </ul>
  </div>
</div>
