<div class="overlay"></div>
<div class="container">
<div class="row mb-5">
  <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">About Us</h2>
      <p>StunnerYPP Corporation is a company engaged in web development and management. We endeavour to offer clients maximum satisfaction through effective and efficient site maintenance, Search Engine Optimization, Records Management, Payment Processing and Customer Service. We take pride in our customized Content.</p>
      <h2 class="ftco-heading-2"></h2>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">INTERESTING FACT</h2>
      <p>Stunner YPP is proud to be a technological leader in our industry.</p>
      <a href="#" class="py-2 d-block">T & C's</a>
      <a href="#" class="py-2 d-block">Privacy Policy</a>
      <a href="#" class="py-2 d-block">Cookie Policy</a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
     <div class="ftco-footer-widget mb-4 ml-md-4">
      <h2 class="ftco-heading-2">Helpful Links</h2>
      <ul class="list-unstyled">
        <li><a href="#" class="py-2 d-block">Who we are</a></li>
        <li><a href="#" class="py-2 d-block">Solutions</a></li>
        <li><a href="#" class="py-2 d-block">Sustainability</a></li>
        <li><a href="#" class="py-2 d-block">Work with us</a></li>
        <li><a href="#" class="py-2 d-block">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
    <div class="ftco-footer-widget mb-4">
      <h2 class="ftco-heading-2">Have a Questions?</h2>
      <div class="block-23 mb-3">
          <ul>
            <li><span class="icon icon-map-marker"></span><span class="text">24K IBM Plaza 8 Eastwood Avenue Eastwood City Cyberpark E. Rodriguez, Jr. Avenue 1110 Libis, Quezon City Philippines</span></li>
            <!-- <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li> -->
            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@stunnerypp.com</span></a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
</div>