{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}





{% block page-content %}
<div class="wrap-container zerogrid">
  <div class="crumbs">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
  <div id="contact-area">
    <h1 class="">Contact Us</h1>
    <div class="contact-map_wrapper wow fadeIn" data-wow-delay=".1s" data-wow-duration="1.5s">
      <!-- Map -->
      <div id="map" style="height: 550px;"></div>

      <!-- Show Info Button -->
      <div class="show-info-link">
        <a href="#" class="show-info"><i class="fa fa-info"></i>Show info</a>
      </div>
      <div class="zerogrid">
        <!-- Address Info -->
        <div class="xs-5-6 offset-md-1-6 md-1-2 contact-info-wrapper">
          <address>
            <div class="row">
              <!-- Phone -->
              <div class="sm-1-2 address-group">
              <span>Phone</span>
              <a href="#">+ 123 4567 890</a>
              <a href="#">+ 123 7654 098</a>
              </div>
              <!-- Address -->
              <div class="sm-1-2 address-group">
              <span>Address</span>
              <p>1200 some street, il, US</p>
              </div>
            </div>
            <div class="row">
              <!-- Email -->
              <div class="sm-1-2 address-group">
              <span>Email</span>
              <a href="mailto:sayhello@email.com">sayhello@email.com</a>
              </div>
              <!-- Hours -->
              <div class="sm-1-2 address-group">
              <span>Open Hours</span>
              <p>Mon-Fri: 9am-5pm</p>
              <p>Sat: 10am-1pm</p>
              </div>
            </div>
            <!-- Show Map Button -->
            <div class="row show-map-link">
              <a href="#" class="show-map"><i class="fa fa-map-o"></i> Show on map</a>
            </div>
          </address>
        </div>
      </div>
    </div>
    <div class="contact-main_wrapper">
      <div class="row">
        <div class="sm-2-5 ">
          <div class="wrap-col">
            <div class="wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
              <h3>Have any questions? Let's get in touch!</h3>
              <p>Contact us if your are thinking of redesigning your garden, adding some garden features or simply looking for a bit of garden maintenance.</p>
            </div>
          </div>
        </div>
        <div class="sm-2-5 offset-sm-1-5">
          <div class="wrap-col">
            <div id="contact_form" class="wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
              <div id="contact_results"></div>
              <div id="contact_body">
                <label>
                  <input type="text" name="name" id="name" required="true" placeholder="Your Name"/>
                </label>
                <label>
                  <input type="email" name="email" required="true" placeholder="Your Email"/>
                </label>
                <label for="field5">
                  <textarea name="message" id="message" class="textarea-field" required="true" placeholder="Message"></textarea>
                </label>
                <label>
                  <button class="button button-skin" type="submit" id="submit_btn">Submit</button>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- <script src="{% static 'js/google-map.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script> -->

<script type="text/javascript">
$(document).ready(function() {
  $("#submit_btn").click(function() {

    var proceed = true;
      //simple validation at client's end
      //loop through each field and we simply change border color to red for invalid fields
  $("#contact_form input[required=true], #contact_form textarea[required=true]").each(function(){
    $(this).css('border-color','');
    if(!$.trim($(this).val())){ //if this field is empty
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
    //check invalid email
    var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    if($(this).attr("type")=="email" && !email_reg.test($.trim($(this).val()))){
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
  });

      if(proceed) //everything looks good! proceed...
      {
    //get input field values data to be sent to server
          post_data = {
      'user_name'		: $('input[name=name]').val(),
      'user_email'	: $('input[name=email]').val(),
      // 'country_code'	: $('input[name=phone1]').val(),
      // 'phone_number'	: $('input[name=phone2]').val(),
      // 'subject'		: $('select[name=subject]').val(),
      'msg'			: $('textarea[name=message]').val(),
      'csrfmiddlewaretoken': '{{ csrf_token }}'
    };

          //Ajax post data to server
     $.post('{% url 'send_mail' %}', post_data, function(response){
      if(response.type == 'error'){ //load json data from server and output message
        output = '<div class="error">'+response.text+'</div>';
      }else{
          output = '<div class="success">'+response.text+'</div>';
        //reset values in all input fields
        $("#contact_form  input[required=true], #contact_form textarea[required=true]").val('');
        $("#contact_form #contact_body").slideUp(); //hide form after success
      }
      $("#contact_form #contact_results").hide().html(output).slideDown();
          }, 'json');
      }
  });

  //reset previously set border colors and hide all message on .keyup()
  $("#contact_form  input[required=true], #contact_form textarea[required=true]").keyup(function() {
      $(this).css('border-color','');
      $("#result").slideUp();
  });
});
</script>

<script>
$("#nav-contact").addClass("active");
</script>

{% endblock %}
