{% extends 'base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}
<video id="player" class="video-js vjs-fluid vjs-16-9"
        data-play-limit="5"
        controls
        autoplay >

    <source src="{% static 'images/video-background.mp4' type='video/mp4'%}" >

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>

<!-- <div id="bgndVideo" class="player mb_YTPlayer isMuted" data-property="{videoURL:'mcixldqDIEQ',containment:'.main-header',autoPlay:true, mute:true, startAt:10, stopAt:250, opacity:1, addRaster:true, quality:'hd1080', optimizeDisplay:true, showControls:false}"></div> -->
<div class="bg-overlay">
<!---Hero Content--->
  <div class="hero-content-wrapper">
    <div class="hero-content">
    <!-- <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Best Gardening Services</h4> -->
    <h2 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s" style="margin-top: -360px;"><img src="{% static 'images/stunner-logo.png' %}"> <!-- Gardening Care --></h2>
    <!-- <img src="images/stunner-logo.png"> -->
    <a href="#page-content" class="button button-skin wow fadeIn" data-wow-duration="2s" data-wow-delay="1s" style="margin-top: -70px;">Learn more</a>
    </div>
  </div>
  <!---Scroller--->
  <div id="scroll-page-content">
    <a href="#page-content" class="scroller">
      <span class="scroller-text">scroll down</span>
      <div class="scroller-button">
        <i class="fa fa-angle-double-down"></i>
      </div>
    </a>
  </div>
</div>
{% endblock %}

{% block page-content %}
<div class="wrap-container">
<!-----------------content-box-1-------------------->t
<section class="content-box box-1">
  <div class="zerogrid">
    <div class="wrap-box"><!--Start Box-->
      <div class="content wow fadeInDown" data-wow-delay=".1s" data-wow-duration="1s">
        <div class="row">
          <div class="sm-1-2">
            <div class="wrap-col">
              <div class="about-sum">
                <h3>Who We Are?</h3>
                <p>
                Our advanced Content Delivery Network (CDN) allows us to reach internet users from around the world much quicker than most sites. While most websites offer from a single server, we have strategic servers all around the world that house content. This means that someone visiting one of our sites from Germany may be receiving the site from one of our servers 300 miles away, rather than 6,000 miles. This may not sound like a big difference, but it is actually huge. Our advanced CDN capabilities are just another way that Stunner Media helps itself and its partners stand apart from the competition.</p>
<!--
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                <p>Morbi eros habitant wisi nibh, donec congue quam aenean. Nulla nam quis egestas urna id, hendrerit phasellus ac quis lacus nunc, venenatis vitae sapien diam, justoer los. Nisl vivamus morbi nulla potenti amet ultrices.</p> -->
                <a class="button button-skin">Get Started</a>
              </div>
            </div>
          </div>
          <div class="sm-1-2">
            <div class="wrap-col">
              <div class="portfolio-box zoom-effect">
                <img src="{% static 'images/10.jpg' %}" class="img-responsive" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------------content-box-2-------------------->
<section class="content-box box-2 box-style-1">
  <div class="zerogrid-fluid">
    <div class="wrap-box">
      <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
        <h2>Projects Gallery</h2>
        <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
      </div>
      <div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
        <div class="row">
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/1.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/2.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/3.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/4.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/5.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/6.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/7.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lg-1-4 md-1-3 sm-1-2">
            <div class="portfolio-box zoom-effect">
              <img src="{% static 'images/8.jpg' %}" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                    Project Name
                  </div>
                  <div class="project-category">
                    Category
                  </div>
                  <div class="project-button">
                    <a href="single.html" class="button button-skin">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-----------------content-box-3-------------------->
<section class="content-box box-3">
  <div class="zerogrid">
    <div class="wrap-box"><!--Start Box-->
      <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
        <h2>What people are saying</h2>
        <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
      </div>
      <div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
        <div class="testimonial-cards">
          <div id="owl-slide" class="owl-carousel">
            <div class="item">
              <div class="key-tcards">
                <div class="tcards_message author-bottom">
                  <h5 class="tcards-title">Always grateful</h5>
                  <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
                </div>
                <div class="tcards_header">
                  <div class="tcards-image"><img src="{% static 'images/partner3.png' %}" alt=""></div>
                  <h4 class="tcards-name">Elaine T.</h4>
                  <p class="tcards-job">Kansas City, Missouri</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="key-tcards">
                <div class="tcards_message author-bottom">
                  <h5 class="tcards-title">Thank you!</h5>
                  <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
                </div>
                <div class="tcards_header">
                  <div class="tcards-image"><img src="{% static 'images/partner2.png' %}" alt=""></div>
                  <h4 class="tcards-name">Raymond G.</h4>
                  <p class="tcards-job">Sky Valley, California</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="key-tcards">
                <div class="tcards_message author-bottom">
                  <h5 class="tcards-title">Efficient collaborating</h5>
                  <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
                </div>
                <div class="tcards_header">
                  <div class="tcards-image"><img src="{% static 'images/partner1.png' %}" alt=""></div>
                  <h4 class="tcards-name">David F.</h4>
                  <p class="tcards-job">Chicago, Illinois</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="key-tcards">
                <div class="tcards_message author-bottom">
                  <h5 class="tcards-title">Friendly staff</h5>
                  <p>Dignissim per dis dignissim mi nibh a parturient habitasse suspendisse ut a feugiat morbi neque tortor.Tellus volutpat scelerisque tempor.</p>
                </div>
                <div class="tcards_header">
                  <div class="tcards-image"><img src="{% static 'images/partner3.png' %}" alt=""></div>
                  <h4 class="tcards-name">Elaine T.</h4>
                  <p class="tcards-job">Kansas City, Missouri</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------------content-box-4-------------------->
<section class="content-box box-4 box-style-1">
  <div class="zerogrid">
    <div class="wrap-box"><!--Start Box-->
      <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
        <h2>Services</h2>
        <span class="intro">Why you should choose us</span>
      </div>
      <div class="content wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
        <div class="row">
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">SITE MANAGEMENT</a></h3>
                      <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">AFFILIATE PROGRAM MANAGEMENT</a></h3>
                      <p>With eight affiliate programs under the Stunner Media umbrella, we are experts program managers. Our partners are at easy knowing that we take care of attracting and working with affiliates and handle all tracking, reporting and payments.</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">CUSTOM CMS</a></h3>
                      <p>Often imitated, never duplicated, our content management system (CMS) is built from the ground up with members in mind. We can add or subtract any feature, leading to increased member retention!</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">CONTENT DELIVERY NETWORK</a></h3>
                      <p>Our skilled engineers have developed a phenomenal content delivery system with servers spread around the world. This solution delivers your content to your customers faster!</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">SOCIAL MEDIA</a></h3>
                      <p>We know social media and we know it well. Our social team will get people talking about your product or service.</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="sm-1-3">
            <div class="wrap-col">
              <div class="box-entry">
                <div class="box-entry-inner">
                  <img src="{% static 'images/1.jpg' %}" class="img-responsive"/>
                  <div class="entry-details">
                    <div class="entry-des">
                      <!-- <span><a href="#">08th Apr 2017</a></span> -->
                      <h3><a href="#">MARKETING</a></h3>
                      <p>Unfortunately, it is not a “build it and they will come” world. We have the necessary skills to put the spotlight on your site(s) with our innovative marketing campaigns.</p>
                      <!-- <a class="button button-skin" href="single.html">Read More</a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-----------------content-box-5-------------------->
<section class="content-box box-5 box-style-2">
  <div class="zerogrid-fluid">
    <div class="wrap-box"><!--Start Box-->
      <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
        <div class="clients-logo">
          <div id="owl-brand" class="owl-carousel">
            <div class="item">
              <img src="{% static 'images/b1.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b2.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b3.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b4.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b5.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b6.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b7.png' %}" alt="">
            </div>
            <div class="item">
              <img src="{% static 'images/b8.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
{% endblock %}

{% block scripts %}
<script>
$("#nav-home").addClass("active");
</script>
{% endblock %}
