{% extends 'admin/base/base.html' %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block page_header %}
<div class="col-lg-12 d-flex">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <a href="{% url 'careers_opportunity_create' %}" value="Add +" class="btn btn-primary float-right">Add +</a>
  </div>
</div>
{% endblock %}

{% block page-content %}

<div class="col-lg-12">
  <div class="block margin-bottom-sm">
    <div class="title"><strong>Basic Table</strong> </div>
    <div class="table-responsive" style="overflow-x: hidden;">
      <table id="coTable" class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Position</th>
            <th>Available Slot</th>
            <th>Publish Date</th>
            <th>Overview</th>
          </tr>
        </thead>
        <tbody>
          {% for jd in jds%}
          <tr>
            <td>{{ jd.id }}</td>
            <td><a href="{% url 'careers_opportunity_edit' jd.id %}">{{ jd.position }}</a></td>

            <td>{{ jd.vacancy }}</td>
            <td>{{ jd.start_date }}</td>
            <td>{{ jd.overview|safe }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready( function () {
      $('#coTable').DataTable({
        responsive:true,
      });
  } );
</script>
{% endblock %}
