{% extends 'admin/base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block head %}
{% endblock %}

{% block page_header %}
<div class="col-lg-12 d-flex">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
    <a href="{% url 'careers_opportunity' %}" value="Add +" class="btn btn-primary float-right">Back</a>
  </div>
</div>
{% endblock %}

{% block page-content %}

<div class="col-md-12">
  <div class="block">
    <div class="col-md-8">
    <div class="title"><strong class="d-block">Basic Form</strong><span class="d-block">Lorem ipsum dolor sit amet consectetur.</span></div>
    <div class="block-body">
      <form method="post" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
          <div class="form-group" style="display:grid">
            {{ field.label_tag }}
            {% render_field field class="form-control" %}
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
  </div>


</div>
{% endblock %}

{% block scripts %}
<script>

</script>
{% endblock %}
