{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}

    <section class="ftco-section">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 pr-md-6">
            <div class="heading-section text-md-center ftco-animate">
              <h2 class="mb-4">Vision</h2>
              <p class="mb-4">Happy employees make happy customers. We visualize Stunner YPP as a globally trusted brand accross the globe for high-quality and effective solutions on a technology based platform. We see our company as a leading choice for organizations and individuals who want to achieve their great business.</p>
            </div>
          </div>
          <div class="col-md-6 pr-md-6">
            <div class="heading-section text-md-center ftco-animate">
              <h2 class="mb-4">Mission</h2>
              <p class="mb-4">The mission of our company is to help clients to achieve real success and sustainable growth by providing them best solutions suitable for their business.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="core_values">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">Core Values</h2>
          </div>
        </div>
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">1</div>
          </div>
          <div class="col-6">
            <h5>Uprightness</h5>
            <p>We seize the virtue of rectitude and trustworthiness.</p>
          </div>
        </div>
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>Distinction</h5>
            <p>We have passion for transcendence.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2</div>
          </div>
        </div>
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">3</div>
          </div>
          <div class="col-6">
            <h5>Leadership</h5>
            <p>We manage self-leadership to effectively lead others towards achievement.</p>
          </div>
        </div>
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
        <div class="row align-items-center justify-content-end how-it-works d-flex">
          <div class="col-6 text-right">
            <h5>Coherence</h5>
            <p>We believe in the integration of artistic fusion of technology and humanity.</p>
          </div>
          <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">4</div>
          </div>
        </div>
        <div class="row timeline">
          <div class="col-2">
            <div class="corner right-bottom"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner top-left"></div>
          </div>
        </div>
        <div class="row align-items-center how-it-works d-flex">
          <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">5</div>
          </div>
          <div class="col-6">
            <h5>Perseverance</h5>
            <p>We always aim what's the prime thing to do next.</p>
          </div>
        </div>
        <div class="row timeline">
          <div class="col-2">
            <div class="corner top-right"></div>
          </div>
          <div class="col-8">
            <hr/>
          </div>
          <div class="col-2">
            <div class="corner left-bottom"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section" id="scrum_values">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 offset-3 pr-md-6 pr-md-6">
            <div class="heading-section text-md-center ftco-animate text-center">
              <h2 class="mb-4">Process</h2>
              <span>These five values are the foundation for the team's processes and interactions</span>
            </div>
            <!-- <img src="static/images/the-scrum-values.png" style="width:100%"> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 offset-1">
            <div class="menu-entry">
              <div class="icon"><img src="static/images/scrum/courage.svg"></div>
              <div class="text text-center pt-4">
                <h3><a href="#">Courage</a></h3>
                <p>Scrum Team members have courage to do the right thing and work on tough problems.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="menu-entry">
              <div class="icon"><img src="static/images/scrum/focus.svg"></div>
              <div class="text text-center pt-4">
                <h3><a href="#">Focus</a></h3>
                <p>Everyone focuses on the work of the Sprint and the goals of the Scrum Team.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="menu-entry">
              <div class="icon"><img src="static/images/scrum/commitment.svg"></div>
              <div class="text text-center pt-4">
                <h3><a href="#">Commitment</a></h3>
                <p>People personally commit to achieving the goals of the Scrum Team.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="menu-entry">
              <div class="icon"><img src="static/images/scrum/respect.svg"></div>
              <div class="text text-center pt-4">
                <h3><a href="#">Respect</a></h3>
                <p>Scrum Team members respect each other to be capable, independent people.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="menu-entry">
              <div class="icon"><img src="static/images/scrum/openness.svg"></div>
              <div class="text text-center pt-4">
                <h3><a href="#">Openness</a></h3>
                <p>The Scrum Team members and its stakeholders agree to be open about all the work and the challenges with performing the work.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-about d-md-flex margin-top">
      <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
          <h2 class="mb-4">Our story</h2>
        </div>
        <div>
            <p>Stunner YPP was founded in Montreal, Quebec, Canada.</p>
            <p>We started as a feeds company and after recognizing an unfilled need in a particular niche, we opened our first affiliate program in 2008. In just a few short years, our network has grown to over 130 sites and eight affiliate programs. It was in 2010 that we entered our first management deal to oversee the website and affiliate operations of a well-respected brand. The success of that initial partnership inspired us to seek out additional partners.</p>
            <p> As of July 2013, Stunner Media is partnered with eight companies in similar management deals. We look forward to not only continuing the growth of our own brands, but those of our current partners as well as any company we may link up with in the future</p>
        </div>
      </div>
      <div class="one-half img" style="background-image: url(static/images/about.jpg);"></div>
    </section>

    <section class="ftco-about d-md-flex">
      <div class="one-half img" style="background-image: url(static/images/about.jpg);"></div>
        <div class="one-half ftco-animate">
            <div>
              <p>In January 2012, we made our largest acquisition to date, purchasing four well known affiliate programs from a single owner. In addition to the four that we already owned, this brought the total up to the eight programs we have today.</p>
              <p>As of July 2013, Stunner Media is partnered with eight companies in similar management deals. We look forward to not only continuing the growth of our own brands, but those of our current partners as well as any company we may link up with in the future.</p>
              <p>Combined, our team has over 70 years of experience in online marketing. While many of our people work out of our Montreal headquarters, we have team members spread over five countries and three continents.</p>
            </div>
        </div>
      </div>
    </section>

{% endblock %}
