{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}



   <section class="ftco-section ftco-cart">
      <div class="container" id="careers-list">
         <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-8 heading-section ftco-animate text-center">
            <h2>Why join us?</h2>
          </div>
          <div class="col-md-8 heading-section ftco-animate text-center">
            <p>Want to be considered as one of the Pioneers?</p>
            <p>Looking forward to join a dynamic team who values work-life balance, practices open-door policy and work alongside people who always give their best shot on what they do.</p>
            <p>Then you are most welcome to join us here at StunnerYPP.</p>
          </div>
         </div>
         <h1 class="my-4">Open Positions</h1>
         {% for opportunity in opportunities %}
         <div class="row">
            <div class="col-md-7">

               <a href="#">
               <img class="img-fluid rounded mb-3 mb-md-0" src="
                                                               {% if opportunity.image %}
                                                                  {{ opportunity.image}}
                                                               {% else %}
                                                                  http://placehold.it/700x300
                                                               {% endif %}" alt="">
               </a>
            </div>
            <div class="col-md-5">
               <h3>{{ opportunity.position }}</h3>
               {{ opportunity.overview|safe }}
               <a class="btn btn-primary" href="{% url 'career_details' opportunity.id %}">Apply Now</a>
            </div>
         </div>
         <hr>
         {% endfor %}
    
    
         <div class="row mt-5">
            <div class="col text-center">
               <div class="block-27">
                  <ul>
                     <li><a href="#">&lt;</a></li>
                     <li class="active"><span>1</span></li>
                     <li><a href="#">2</a></li>
                     <li><a href="#">3</a></li>
                     <li><a href="#">4</a></li>
                     <li><a href="#">5</a></li>
                     <li><a href="#">&gt;</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </section>

{% endblock %}
