{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}

  <section class="ftco-menu mb-5 pb-5">
     <div class="container">
        <div class="row d-md-flex">
           <div class="col-lg-12 ftco-animate p-md-5">
              <div class="container">
                <div class="row">
                   <div class="col-md-12 nav-link-wrap mb-5">
                      <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                         <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">Overview</a>
                         <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Job Details</a>
                         <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Exam</a>
                      </div>
                   </div>
                   <div class="col-md-12 d-flex align-items-center">
                      <div class="tab-content ftco-animate" id="v-pills-tabContent">
                         <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                            <div class="row ">
                               <div class="col-lg-12">
                                  {{ opportunity.overview|safe }}
                                  <!-- <h3>What we seek in a new team member … and what we offer in return.</h3>
                                  <br>
                                  <h5>DYNAMIC</h5>
                                  <p>It is hard to find a want ad without that word, yet few ever bother to define it in relation to their own needs.
                                  </p>
                                  <p>We are certainly always on the hunt for dynamic people, but what is a dynamic person for us? Someone that thrives in an ever-changing environment. Technology is not afraid to leave anybody behind, so you must be able to adapt as trends change. You must be eager to take on new challenges. Tomorrow you may be asked to do something that is completely foreign to you (and maybe everybody else, too), but you have to possess that fire to want to become an expert at it.</p>
                                  <p>Stunner Media was founded in August, 2003 and has pivoted a few times in order to be in the position it is in today. Just as we can pivot as a company, we need team members that can pivot on a professional level.</p>
                                  <h5>PASSIONATE</h5>
                                  <p>Our team is passionate about everything it does and it is only fair that you are passionate about what you do as well.</p>
                                  <h5>VERSATILE</h5>
                                  <p>You should be able to work by yourself or with a team. Depending on the day, you may be doing either or both. Multitasking will probably be a common occurrence. Some days you may have to manage yourself and find something to do that will benefit the company.</p>
                                  <p>We are versatile, too.</p>
                                  <p>We are still a small company and act like one. If you like variety, Stunner Media is the place to be. If you like to do the same thing day-in and day-out, depending on the position you are hired for, you may not be a good fit. Obviously, specialists, such as video editors, would be excluded from this as they are passionate about what they do and the finished piece is art.</p>
                                  <p>Some days will be a breeze and you will look at the clock and wonder how it is possible to already be done for the day. Other days will test how much patience you actually have.</p>
                                  <p>While our team usually gives 110% without us even asking, we are respectful of the fact that everybody has bad days.</p>
                                  <p>We do not make you feel guilty for getting sick; we want you to rest up and feel better before jumping back into things.</p>
                                  <p>We fully agree that vacations are awesome. There is a big world out there waiting for you to explore it.</p>
                                  <h5>TAKE OWNERSHIP</h5>
                                  <p>You have to own your tasks and/or projects. If you are the type that treats everything like a hot potato and tries to hand it off to the next person, Stunner Media is not the place for you. Excuses are a dime a dozen, but a sincere “I am sorry, I will try to make sure that does not happen again” is much more meaningful and will get you further than an excuse ever will.</p>
                                  <h5>DEDICATED</h5>
                                  <p>We are proud to say that we have some of the most loyal and dedicated people in existence. While they are certainly not expected or obligated to, it is not uncommon to come into work and see an email sent at 3 AM with an idea that may be the next big thing. That sender may occasionally be you. Since we are firm believers in promoting from within, it is usually those that treat the company like it is their own that move up the ladder the fastest.</p>
                                  <h5>IDEA PERSON</h5>
                                  <p>We love it when you speak up. Our team is brilliant and comes up with amazing ideas. Sometimes they are buried deep in the recesses of your brain, but if they ever pop to the forefront, management is eager to hear them.</p>
                                  <h5>SOMEONE WHO LOVES FUN</h5>
                                  <p>You have to be the kind that can laugh when a co-founder lands a direct hit with the NERF gun. Don’t worry, you are always allowed – and encouraged – to return fire. We work hard and we like to play harder. Sometimes we do happy hour. Sometimes we rent a huge chalet and play in the snow for a week with the team and their significant others. Sometimes we jet away to an industry show where we get a lot of business done while simultaneously drinking way too much. Stunner Media is still a relatively young company and we are going to act that way for as long as we can!</p>
                                  <p>Oh, and forget about a dress code. Dress to be comfortable. Our co-founder Phil leads by example when it comes to this. Our other co-founder, Jay, often wears a suit and looks a bit out of place in the office. He idolizes Barney from How I Met Your Mother. Jay probably thinks Barney is talking to him when he says “suit up!” It is totally acceptable to NERF Jay because he wears a suit in the office. Seriously, who wears a suit around a bunch of creatives? That guy. Jay is awesome though, despite his shortcomings in apparel choices for a casual environment. If you prefer to wear a suit and feel awkward after reading this paragraph, don’t worry, Jay will be your bestie!</p> -->
                               </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                            <div class="container">
                              <div class="row">
                                 <h3>{{ opportunity.position }}</h3>
                                 <div class="row ">
                                    <div class="col-lg-12">
                                       <div class="bd-example">
                                          <!-- <dl> -->
                                            {{ opportunity.details|safe }}
                                          <!-- </dl> -->
                                          <!-- <p>You are what we're looking for.</p>
                                          <dl>
                                             <dt>Description</dt>
                                             <ul>
                                                <li>With Advance knowledge in PHP, MySQL, Javascript, Jquery, HTML. Knowledge in Laravel is a plus.</li>
                                                <li>Candidate must possess at least a Bachelor’s/College Degree in Computer Science/Information Technology or equivalent.</li>
                                                <li>Willing to take night shifting schedule and work on holidays</li>
                                             </ul>
                                             <dt>Skills</dt>
                                             <ul>
                                                <li>Object Oriented PHP</li>
                                                <li>Laravel 4</li>
                                                <li>Laravel 5</li>
                                                <li>Homestead</li>
                                                <li>Git</li>
                                                <li>Javascript</li>
                                                <li>jQuery</li>
                                                <li>HTML</li>
                                                <li>CSS</li>
                                                <li>MySQL</li>
                                                <li>Linux</li>
                                             </ul>
                                          </dl> -->
                                       </div>
                                    </div>
                                 </div>
                                 <p><a href="" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Take the Exam now</a></p>
                              </div>
                            </div>
                         </div>
                         <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                            <div class="row ">
                               <div class="col-lg-12">
                                  <div class="bd-example">
                                     <h3>Full Stack Web Developer Exam</h3>
                                     <h5>Good luck!</h5>
                                     <p>Pass Stunner YPPS's programming exam and be shortlisted.</p>
                                  </div>
                               </div>

                               <div class="col-lg-8">
                                  <div class="bd-example" style="padding: 30px;border: 1px solid;">
                                     <h5>Start</h5>
                                     <hr>
                                    <form action="#" class="contact-form">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                      <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                      </div>
                                      <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email">
                                      </div>
                                      <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Mobile No.">
                                      </div>
                                      <div class="form-group">
                                        <input type="submit" value="Take the Exam now" class="btn btn-primary py-3 px-5">
                                      </div>
                                    </form>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
              </div>
           </div>
        </div>
     </div>
  </section>

{% endblock %}
