{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}

  <section class="ftco-section contact-section" id="contact">
    <div class="container mt-5">
      <div class="row block-9">
        <div class="container">
          <div class="col-md-4 contact-info ftco-animate">
            <div class="row">
              <div class="col-md-12 mb-4">
                <h2 class="h4">Contact Information</h2>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Address:</span> 24K IBM Plaza 8 Eastwood Avenue Eastwood City Cyberpark E. Rodriguez, Jr. Avenue 1110 Libis, Quezon City Philippines</p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Email:</span> <a href="mailto:info@stunnerypp.com">info@stunnerypp.com</a></p>
              </div>
              <div class="col-md-12 mb-3">
                <p><span>Website:</span> <a href="#">stunnerypp.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 ftco-animate">

            <form action="#" class="contact-form" id="contact_form" >
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="name" name="name" type="text" class="form-control" placeholder="Your Name" required="true">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input id="email" name="email" type="text" class="form-control" placeholder="Your Email" required="true">
                  </div>
                  </div>
              </div>
              <div class="form-group">
                <input id="subject" name="subject" type="text" class="form-control" placeholder="Subject" required="true">
              </div>
              <div class="form-group">
                <textarea id="message" name="message" cols="30" rows="7" class="form-control" placeholder="Message" required="true"></textarea>
              </div>

              <div id="responseMessage"></div>
              
              <div class="form-group">
                <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section">
    <div class="map"></div>
    <!--map-->
    <div class="dialog-text">
        <p class="main"><span>Montreal Office</span></p>
        <p class="details">
            <span>555 Chabanel Ouest Suite 801 Montreal, QC H2N 2H8 Canada</span>
            <br>
            <span class="gr">1-438-382-7886</span>
        </p>
    </div>

<!--     <div class="contact"><a class="button contact-stay">Contact</a></div>
    <div class="boxes">
        <div class="email-box co-element">
            <input type="email" class="inCo" />
            <label for="email" class="email">Email</label>
            <div class="bar"></div>
        </div>
        <div class="submit co-element"><span class="sub">Submit</span></div>
        <svg class="check" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 50 50">
            <title>check</title>
            <line x1="4.4" y1="28.3" x2="22" y2="45" />
            <line x1="22" y1="45" x2="45.9" y2="2.3" />
        </svg>
    </div>
    <div class="sent">
        <div class="sent-main">Sent Successfully
            <br>
        </div>
        <span class="message">We will be in touch with you shortly.</span>
    </div> -->

    <svg class="marker-dialog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 310">
        <path id="marker" d="M254.8 179.8c-11.5-11.6-27.3-18.7-44.9-18.7-35 0-63.4 28.5-63.4 63.8 0 26 20.3 48.1 38.2 62.7 16.4 13.4 24 20.4 25.1 21.4.2.1.2.1.9-.6 2.3-2.1 10-9 24.5-20.8 17.8-14.6 38.2-36.7 38.2-62.7 0-17.6-7.1-33.6-18.6-45.1z" />
        <path id="box" d="M2 2h416v283H2z" />
        <g id="target">
            <path class="lg-circ" d="M241.3 211.9c-1.8-4.2-4.2-7.8-7.2-10.8s-6.6-5.5-10.8-7.2c-4.2-1.8-8.6-2.7-13.2-2.7s-9 .9-13.2 2.7c-4.2 1.8-7.8 4.2-10.8 7.2s-5.5 6.6-7.2 10.8c-1.8 4.2-2.7 8.6-2.7 13.2s.9 9 2.7 13.2c1.8 4.2 4.2 7.8 7.2 10.8s6.6 5.5 10.8 7.2c4.2 1.8 8.6 2.7 13.2 2.7s9-.9 13.2-2.7c4.2-1.8 7.8-4.2 10.8-7.2s5.5-6.6 7.2-10.8c1.8-4.2 2.7-8.6 2.7-13.2s-.9-9-2.7-13.2zm-5.7 24.1c-1.5 3.4-3.4 6.4-5.9 8.9-2.5 2.5-5.4 4.5-8.9 5.9-3.4 1.5-7 2.2-10.8 2.2s-7.4-.7-10.8-2.2c-3.4-1.5-6.4-3.4-8.9-5.9-2.5-2.5-4.5-5.4-5.9-8.9-1.5-3.4-2.2-7-2.2-10.8s.7-7.4 2.2-10.8c1.5-3.4 3.4-6.4 5.9-8.9 2.5-2.5 5.4-4.5 8.9-5.9 3.4-1.5 7-2.2 10.8-2.2 3.8 0 7.4.7 10.8 2.2 3.4 1.5 6.4 3.4 8.9 5.9 2.5 2.5 4.5 5.4 5.9 8.9 1.5 3.4 2.2 7 2.2 10.8s-.7 7.3-2.2 10.8z" />
            <path class="md-circ" d="M225.3 209.9c-1.9-1.9-4.2-3.5-6.9-4.6-2.7-1.1-5.5-1.7-8.4-1.7s-5.7.6-8.4 1.7-5 2.7-6.9 4.6-3.5 4.2-4.6 6.9c-1.1 2.7-1.7 5.5-1.7 8.4 0 2.9.6 5.7 1.7 8.4s2.7 5 4.6 6.9 4.2 3.5 6.9 4.6c2.7 1.1 5.5 1.7 8.4 1.7s5.7-.6 8.4-1.7 5-2.7 6.9-4.6 3.5-4.2 4.6-6.9c1.1-2.7 1.7-5.5 1.7-8.4 0-2.9-.6-5.7-1.7-8.4s-2.7-5-4.6-6.9zm-1.1 21.3c-.8 1.9-1.9 3.6-3.3 4.9-1.4 1.4-3 2.5-4.9 3.3s-3.9 1.2-6 1.2-4.1-.4-6-1.2-3.6-1.9-4.9-3.3c-1.4-1.4-2.5-3-3.3-4.9-.8-1.9-1.2-3.9-1.2-6s.4-4.1 1.2-6 1.9-3.6 3.3-4.9c1.4-1.4 3-2.5 4.9-3.3 1.9-.8 3.9-1.2 6-1.2s4.1.4 6 1.2 3.5 1.9 4.9 3.3c1.4 1.4 2.5 3 3.3 4.9s1.2 3.9 1.2 6c.1 2.1-.4 4.1-1.2 6z" />
            <path class="sm-circ" d="M210 215.9c-2.6 0-4.7.9-6.6 2.7-1.8 1.8-2.7 4-2.7 6.6s.9 4.7 2.7 6.6c1.8 1.8 4 2.7 6.6 2.7s4.7-.9 6.6-2.7c1.8-1.8 2.7-4 2.7-6.6s-.9-4.7-2.7-6.6c-1.9-1.8-4-2.7-6.6-2.7zm2.2 11.4c-.6.6-1.3.9-2.2.9s-1.6-.3-2.2-.9c-.6-.6-.9-1.3-.9-2.2s.3-1.6.9-2.2c.6-.6 1.3-.9 2.2-.9s1.6.3 2.2.9c.6.6.9 1.3.9 2.2s-.3 1.6-.9 2.2z" />
        </g>
        <g id="close" stroke-miterlimit="10">
            <rect id="closeback" fill="black" x="370.8" y="20.7" width="24.8" height="24.8" />
            <path fill="none" stroke="#777" d="M370.8 20.7l24.8 24.8" />
            <path fill="none" stroke="#777" d="M395.6 20.7l-24.8 24.8" />
        </g>
        <g id="corner">
            <defs>
                <path id="SVGID_1_" d="M2 2h227.8L2 231.3z" />
            </defs>
            <clipPath id="SVGID_2_">
                <use xlink:href="#SVGID_1_" overflow="visible" />
            </clipPath>
            <g clip-path="url(#SVGID_2_)">
                <image overflow="visible" width="3210" height="2448" xlink:href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/bridge-opt.jpg" transform="matrix(.098 0 0 .098 -84.265 -32.095)" />
            </g>
            <g>
                <defs>
                    <path id="SVGID_3_" d="M2 2h227.8L2 231.3z" />
                </defs>
                <clipPath id="SVGID_4_">
                    <use xlink:href="#SVGID_3_" overflow="visible" />
                </clipPath>
            </g>
        </g>
        <path id="divider" fill="none" stroke="#333" stroke-miterlimit="10" d="M204 184h142" />
    </svg>

    <div class="marker-touch">
        <svg viewBox="0 0 420 310">
            <path fill="none" d="M254.8 179.8c-11.5-11.6-27.3-18.7-44.9-18.7-35 0-63.4 28.5-63.4 63.8 0 26 20.3 48.1 38.2 62.7 16.4 13.4 24 20.4 25.1 21.4.2.1.2.1.9-.6 2.3-2.1 10-9 24.5-20.8 17.8-14.6 38.2-36.7 38.2-62.7 0-17.6-7.1-33.6-18.6-45.1z" />
        </svg>
    </div>
  </section>


{% endblock %}

{% block scripts %}
<script>
$("#nav-home").addClass("active");
  var sending = false;
  $("#contact_form").on('submit', function(e) {

    e.preventDefault();
    var proceed = true;
      //simple validation at client's end
      //loop through each field and we simply change border color to red for invalid fields
  $("#contact_form input[required=true], #contact_form textarea[required=true]").each(function(){
    $(this).css('border-color','');
    if(!$.trim($(this).val())){ //if this field is empty
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
    //check invalid email
    var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    if($(this).attr("type")=="email" && !email_reg.test($.trim($(this).val()))){
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
  });

      if(proceed && !sending) //everything looks good! proceed...
      {
        sending = true;
    //get input field values data to be sent to server
          post_data = {
            'user_name'		: $('input[name=name]').val(),
            'user_email'	: $('input[name=email]').val(),
            // 'country_code'	: $('input[name=phone1]').val(),
            // 'phone_number'	: $('input[name=phone2]').val(),
            'subject'		: $('input[name=subject]').val(),
            'msg'			: $('textarea[name=message]').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          };

          //Ajax post data to server
     $.post('{% url 'send_mail' %}', post_data, function(response){
      if(response.type == 'error'){ //load json data from server and output message
        $("#responseMessage").html(response.text)

      }else{

        //reset values in all input fields
        $("#contact_form  input[required=true], #contact_form textarea[required=true]").val('');
        $("#responseMessage").html(response.text)
      }
      sending = false;
          }, 'json');
      }
  });

  //reset previously set border colors and hide all message on .keyup()
  $("#contact_form  input[required=true], #contact_form textarea[required=true]").keyup(function() {
      $(this).css('border-color','');
      // $("#result").slideUp();
  });

</script>
{% endblock %}
