{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block main-header %}
{% endblock %}

{% block page-content %}
  <section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url(static/images/bg_1.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-8 col-sm-12 text-center ftco-animate">
            <h1 class="mb-4">Driving business solutions excellence with passion</h1>
            <p class="mb-4 mb-md-5">While our team is what drives us, technology is our vehicle.</p>
            <p>
              <a href="#about" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url(static/images/bg_2.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-8 col-sm-12 text-center ftco-animate">
            <h1 class="mb-4">We Embrace Teamwork, since 2004!</h1>
            <p class="mb-4 mb-md-5">One goal, one passion - For more than a decade.</p>
            <p>
              <a href="#about" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
          </div>

        </div>
      </div>
    </div>

    <div class="slider-item" style="background-image: url(static/images/bg_3.jpg);">
      <div class="overlay"></div>
      <div class="container">
        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

          <div class="col-md-8 col-sm-12 text-center ftco-animate">
            <h1 class="mb-4">We are more than just any business partner</h1>
            <p class="mb-4 mb-md-5">SYPP is your key to your business success.</p>
            <p><a href="#about" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="ftco-about d-md-flex" id="about">
    <div class="one-half img" style="background-image: url(static/images/about.jpg);"></div>
    <div class="one-half ftco-animate">
      <div class="overlap">
        <div class="heading-section ftco-animate ">
          <span>DISCOVER</span>
          <h2 class="mb-4">Our Story</h2>
        </div>
        <div>
          <p>StunnerYPP Corporation is a company of enthusiastic, passionate, competitive, quality-driven and results-oriented team of web developers, graphic designers, marketing strategist, quality assurance specialist, and general admin staff  who are happy to serve clients and see them enjoy long-lasting growth and accomplishment.</p>
          <p><a href="about.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Learn more</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/solutions.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-6 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <h2>WE PROVIDE SOLUTIONS</h2>
                  <p>We do all of the heavy lifting so you can focus on what you do best: creating great content. From site to affiliate management, Stunner does it all.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/global.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-md-6 offset-md-6 col-lg-6 offset-lg-6 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text text-right">
                  <h2>WORLDWIDE FOOTPRINT</h2>
                  <p>Our advanced Content Delivery Network (CDN) allows us to reach internet users from around the world much quicker than most sites.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/team.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-xs-12">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-6 d-flex justify-content-center counter-wrap ftco-animate">
              <div class="block-18">
                <div class="text">
                  <h2>OUR TEAM</h2>
                  <p>The team is what makes Stunner YPP the amazing company it is. Our people are spread over three continents, majority were in Montreal.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-services" id="services">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section ftco-animate text-center">
            <h2 class="mb-4">Why you should choose us.</h2>
          </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="main-timeline">
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">We set up everything for you</h3>
                            <p class="description">
                                We do everything you need for your website from Site Management, Marketing, Payment Processing up to Customer Support.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">We take care of your content</h3>
                            <p class="description">
                                Whether your content library is comprised of video, photos, or both, our exceptional graphic designers and video editors will add the extra spice to make it sell better.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Lightning fast</h3>
                            <p class="description">
                                Our skilled engineers have developed a phenomenal content delivery system with servers spread around the world. This solution delivers your content to your customers faster.
                            </p>
                        </div>
                    </a>
                    <a href="#" class="timeline">
                        <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                        <div class="timeline-content">
                            <h3 class="title">Agressive Promotion</h3>
                            <p class="description">
                                We know social media and we know it well. Our social team will get people talking about your product or service.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mb-5 pb-3 margin-top">
          <div class="col-md-12 heading-section ftco-animate text-center">
            <h2>What we do</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
                <span class="flaticon-delivery-truck"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Site Management</h3>
                <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
                <span class="flaticon-choices"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Affiliate Program Management</h3>
                <p>With eight affiliate programs under the Stunner Media umbrella, we are experts program managers. Our partners are at easy knowing that we take care of attracting and working with affiliates.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="media d-block text-center block-6 services">
              <div class="icon d-flex justify-content-center align-items-center mb-5">
                <span class="flaticon-coffee-bean"></span></div>
              <div class="media-body">
                <h3 class="heading">Custom CMS</h3>
                <p>Often imitated, never duplicated, our content management system (CMS) is built from the ground up with members in mind. We can add or subtract any feature, leading to increased member retention.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 text-center ftco-animate">
            <a href="solutions.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">Checkout All Services We Offer</a></p>
        </div>
    </div>
  </section>

  <section class="ftco-section" id="technologies">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Technologies</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div> $.post('{% url 'send_mail' %}', post_data, function(response){
      if(response.type == 'error'){ //load json data from server and output message
        $("#responseMessage").html(response.text)

      }else{
      </div>
      <div class="row ftco-animate">
        <div class="col-md-2">
          <div class="menu-entry html">
            <img src="static/images/technologies/html.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry css">
            <img src="static/images/technologies/css.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry bootstrap">
            <img src="static/images/technologies/bootstrap.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry jquery">
            <img src="static/images/technologies/jquery.svg">
          </div>
        </div>
        <div class="col-md-2 javascript">
          <div class="menu-entry">
            <img src="static/images/technologies/javascript.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry php">
            <img src="static/images/technologies/php.svg">
          </div>
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-2">
          <div class="menu-entry wordpress">
            <img src="static/images/technologies/wordpress.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry python">
            <img src="static/images/technologies/python.svg">
          </div>
        </div>
        <div class="col-md-2 laravel">
          <div class="menu-entry">
            <img src="static/images/technologies/laravel.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry mysql">
            <img src="static/images/technologies/mysql.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry git">
            <img src="static/images/technologies/git.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry vagrant">
            <img src="static/images/technologies/vagrant.svg">
          </div>
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-2 offset-md-4">
          <div class="menu-entry photoshop">
            <img src="static/images/technologies/photoshop.svg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="menu-entry illustrator">
            <img src="static/images/technologies/illustrator.svg">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- loader -->
  <div id="ftco-loader" class="ftco-loader-home show fullscreen">
    {% include 'app/base/page-loader.html' %}
  </div>

{% endblock %}

{% block scripts %}
<script>
$("#nav-home").addClass("active");
  var sending = false;
  $("#contact_form").on('submit', function(e) {

    e.preventDefault();
    var proceed = true;
      //simple validation at client's end
      //loop through each field and we simply change border color to red for invalid fields
  $("#contact_form input[required=true], #contact_form textarea[required=true]").each(function(){
    $(this).css('border-color','');
    if(!$.trim($(this).val())){ //if this field is empty
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
    //check invalid email
    var email_reg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
    if($(this).attr("type")=="email" && !email_reg.test($.trim($(this).val()))){
      $(this).css('border-color','red'); //change border color to red
      proceed = false; //set do not proceed flag
    }
  });

      if(proceed && !sending) //everything looks good! proceed...
      {
        sending = true;
    //get input field values data to be sent to server
          post_data = {
            'user_name'		: $('input[name=name]').val(),
            'user_email'	: $('input[name=email]').val(),
            // 'country_code'	: $('input[name=phone1]').val(),
            // 'phone_number'	: $('input[name=phone2]').val(),
            // 'subject'		: $('select[name=subject]').val(),
            'msg'			: $('textarea[name=message]').val(),
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          };

          //Ajax post data to server
     $.post('{% url 'send_mail' %}', post_data, function(response){
      if(response.type == 'error'){ //load json data from server and output message
        $("#responseMessage").html(response.text)

      }else{

        //reset values in all input fields
        $("#contact_form  input[required=true], #contact_form textarea[required=true]").val('');
        $("#responseMessage").html(response.text)
      }
      sending = false;
          }, 'json');
      }
  });

  //reset previously set border colors and hide all message on .keyup()
  $("#contact_form  input[required=true], #contact_form textarea[required=true]").keyup(function() {
      $(this).css('border-color','');
      // $("#result").slideUp();
  });

</script>
{% endblock %}
