{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}

    <section class="ftco-section">
       <div class="container mt-40">
            <div class="row justify-content-center mb-5 pb-3">
              <div class="col-md-8 heading-section ftco-animate text-center">
                <h2 class="mb-4">Fun Environment</h2>
                <p>“Laughter, play, and fun are an essential part of life.” We don’t want our employees to feel like it's always a work. We believe that performing fun activities and events will enhance your learning, productivity and creativity, making our company a better place to work.</p>
              </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/billiard.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Billiard Game</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/board-game.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Board Games</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/team-activities.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Small Activities</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/team-challenge.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Quarterly Team Challenge</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/watch-netflix.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Watch Netflix</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box14">
                        <img src="static/images/office/birthday-cake.jpg" alt="">
                        <div class="box-content">
                            <span class="post">Celebrate your birthday with us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container-fluid">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-8 heading-section ftco-animate text-center">
          <h2 class="mb-4">Our Culture</h2>
        </div>
      </div>
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Friendly</h2>
                      <p>We make sure that our employees become involved with one another in positive way in the workplace.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/food3.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Challenging</h2>
                      <p>We encourage our employees to explore thire full skill potentials that they’re likely to grow through the experience.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black_2.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image02.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Motivating</h2>
                      <p>We inspire our employees to feel compelled to work hard.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black_3.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image002.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Engaging</h2>
                      <p>We ensure employees will feel invested in their work because it speaks to their interests.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black_4.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image06.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Nurturing</h2>
                      <p>We invest to our employees growth and development that will not just benefit the company but as well as them.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image008.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Collaborative</h2>
                      <p>We drive employees and teams to work well together cross-functionally to accomplish their goals.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black_2.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image005.jpg" /> -->
        </div>
        <div class="grid-item">
          <div class="grid-text">
            <div class="row justify-content-center">
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-12 col-lg-10 d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
                    <div class="text text-bottom">
                      <h2>Autonomous</h2>
                      <p>We trust our employees to have ownership over their work and that they have individual power to improve result.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img src="static/images/black_3.jpg" />
          <!-- <img src="https://mdbootstrap.com/img/Photos/Others/image005.jpg" /> -->
        </div>
      </div>
    </div>

    <section id="benefits" class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(static/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Employee Perks</h2>
            <p>Be a part of us and enjoy.</p>
          </div>
        </div>
        <div class="row justify-content-center benifits-row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/health-insurance.svg"></div>
                    <span>Employee Medical, dental and vision coverage</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/paid-vacation-leave.svg"></div>
                    <span>Vacation/Paid Time Off</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/paid-sick-leave.svg"></div>
                    <span>Paid Sick Days</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/retirement.svg"></div>
                    <span>Government Mandated Benefits</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center benifits-row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/diploma.svg"></div>
                    <span>Reward & recognition programs</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6  col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/work-life-balance.svg"></div>
                    <span>Work-life balance and Open-door policy</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/training.svg"></div>
                    <span>Skills Training</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/development.svg"></div>
                    <span>Opportunities for advancement</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center benifits-row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/free-coffee.svg"></div>
                    <span>Free Coffee</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/free-food.svg"></div>
                    <span>Free Food on Friday</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/game.svg"></div>
                    <span>Game Room</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
                <div class="block-18 text-center">
                  <div class="text">
                    <div class="icon"><img src="svg/office-perks.svg"></div>
                    <span>Other Office Perks</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section img" id="ftco-testimony" style="background-image: url(static/images/bg_1.jpg);"  data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Employee Says</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="container-wrap">
        <div class="row d-flex no-gutters">
          <div class="col-lg align-self-sm-end ftco-animate">
            <div class="testimony">
               <blockquote>
                  <p>You will have friendly co-workers ready to help you out. Average work-life balance. You will get to have fun with other employees with their fun activities. Free lunch every friday.</p>
                </blockquote>
                <div class="author d-flex mt-4">
                  <div class="image mr-3 align-self-center">
                    <img src="static/images/person_1.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Louise Kelly <span class="position">Web Developer</span></div>
                </div>
            </div>
          </div>
          <div class="col-lg align-self-sm-end">
            <div class="testimony overlay">
               <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                </blockquote>
                <div class="author d-flex mt-4">
                  <div class="image mr-3 align-self-center">
                    <img src="static/images/person_2.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
                </div>
            </div>
          </div>
          <div class="col-lg align-self-sm-end ftco-animate">
            <div class="testimony">
               <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
                </blockquote>
                <div class="author d-flex mt-4">
                  <div class="image mr-3 align-self-center">
                    <img src="static/images/person_3.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
                </div>
            </div>
          </div>
          <div class="col-lg align-self-sm-end">
            <div class="testimony overlay">
               <blockquote>
                  <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however.&rdquo;</p>
                </blockquote>
                <div class="author d-flex mt-4">
                  <div class="image mr-3 align-self-center">
                    <img src="static/images/person_2.jpg" alt="">
                  </div>
                  <div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
                </div>
            </div>
          </div>
          <div class="col-lg align-self-sm-end ftco-animate">
            <div class="testimony">
              <blockquote>
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small  line of blind text by the name. &rdquo;</p>
              </blockquote>
              <div class="author d-flex mt-4">
                <div class="image mr-3 align-self-center">
                  <img src="static/images/person_3.jpg" alt="">
                </div>
                <div class="name align-self-center">Louise Kelly <span class="position">Illustrator Designer</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-services" id="services">
      <div class="container">
          <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
              <h2 class="mb-4">Ready to join us?</h2>
              <p><a href="carrers.html" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">APPLY NOW</a></p>
            </div>
          </div>
      </div>
    </section>

{% endblock %}
