{% extends 'app/base/base.html' %}
{% load staticfiles %}

{% block head %}


{% endblock %}

{% block main-header %}

{% endblock %}

{% block page-content %}

    <section class="ftco-section" id="solution_icons">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-8 heading-section ftco-animate text-center">
            <h2>Smaller companies partner with Stunner YPP</h2>
          </div>
          <div class="col-md-10 heading-section ftco-animate text-center">
            <p> because we can give them the tools that are typically not available at their current size. The advantages are both technological and because of the size of our staff, who give 110% each and every day. When you partner with Stunner, no longer do you have to worry about the little day-to-day details that eat up all of your time. Instead, you are freed to create more and better content, leading to increased sales.</p>
          </div>
        </div>

        <div class="row mbr-justify-content-center">
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-volume-up fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>SITE MANAGEMENT</h5></span>
                      <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-volume-up fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>AFFILIATE PROGRAM MANAGEMENT</h5></span>
                      <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-globe fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>CUSTOM CMS</h5></span>
                      <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>CONTENT DELIVERY NETWORK</h5></span>
                      <p>Our skilled engineers have developed a phenomenal content delivery system with servers spread around the world. This solution delivers your content to your customers faster.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-globe fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                     <span><h5>RECORDS MANAGEMENT</h5></span>
                      <p>Complying with U.S. federal records keeping requirements can be burdensome and time consuming. We are able to remove this burden from your shoulders by maintaining records on your behalf.!</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-globe fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                     <span><h5>MARKETING</h5></span>
                      <p>Running a successful site is hard work and Stunner Media has your back. We build tours that convert, analyze and optimize traffic, manage content and more. We currently manage over 110 popular sites!</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>SOCIAL MEDIA</h5></span>
                      <p>Our skilled engineers have developed a phenomenal content delivery system with servers spread around the world. This solution delivers your content to your customers faster.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>TRAFFIC OPTIMIZATION</h5></span>
                      <p>Our goal is to not waste a single click. We analyze both incoming and outgoing traffic to maximize revenues.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>SEARCH ENGINE OPTIMIZATION</h5></span>
                      <p>With over 60 combined years of web experience, our team knows how to get your site to the top of the search engines organically.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>CONTENT EDITING AND PROCESSING</h5></span>
                      <p>Whether your content library is comprised of video, photos, or both, our exceptional graphic designers and video editors will add the extra spice to make it sell better.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>PAYMENT PROCESSING</h5></span>
                      <p>In addition to having relationships with all of the major third party billers and alternative billers, we also have our own merchant accounts. We would be hard pressed to find someone we could not accept payment from.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mbr-col-md-10 col-xs-12">
              <div class="wrap">
                  <div class="ico-wrap">
                      <span class="mbr-iconfont fa-trophy fa"></span>
                  </div>
                  <div class="text-wrap vcenter">
                      <span><h5>CUSTOMER SUPPORT</h5></span>
                      <p>Our in-house customer support department is standing by waiting to answer any members (or potential members) technical, billing or other questions.</p>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
